* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  z-index: 100;
  width: 100%;
  min-height: 95px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../img/headerbackground.jpg);
  background-size: cover;
  color: black;
}
header .logo1 {
  flex-shrink: 1;
  margin-left: 1.5rem;
  margin-right: 8px;
  height: 90px;
  width: auto;
}
header .title {
  flex-grow: 1;
  cursor: default;
  width: 50px;
  top: 8px;
  font-family: "Caveat", cursive;
  font-size: 50px;
}
header .navbar-nav {
  list-style: none;
  background-color: #FFD4C0;
}
header .nav-item {
  display: inline-block;
  padding: 0 1.5rem 0 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  background-color: rgba(255, 166, 0, 0.2666666667);
  font-weight: 600;
}

.index, .servicios, .blog, .nosotros, .contact {
  background-image: linear-gradient(to bottom, #FFD4C0, #f5b657, #FFD4C0);
}

main {
  position: relative;
}
main .col {
  font-size: 22px;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}
main .col h2 {
  text-align: center;
  font-size: 2.5rem;
}
main .col h3 {
  text-align: center;
  font-size: 1.75rem;
}
main .col p {
  font-size: 1.5rem;
}
main .col .ul1 {
  list-style: decimal;
}
main .col .ul1 li {
  font-weight: 600;
  font-style: oblique;
}
main .col .ul2 {
  list-style: circle;
}
main .col img {
  width: 25vw;
  height: auto;
}
main .col .imgserv {
  width: 560px;
  height: 325px;
}
main .col .embed-responsive-item {
  width: 560px;
  height: 315px;
}

.section {
  padding: 100px 0;
  position: relative;
}
.section .gray-bg {
  background-color: "#ebf4fa";
}
.section .blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;
}
.section .blog-grid .blog-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  width: 350px;
  height: 280px;
}
.section .blog-grid .blog-img .date {
  position: absolute;
  background: #3a3973;
  color: #ffffff;
  padding: 8px 15px;
  left: 0;
  top: 10px;
  font-size: 14px;
}
.section .blog-grid .blog-info {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  background: #ffffff;
  padding: 20px;
  margin: -30px 20px 0;
  position: relative;
}
.section .blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
}
.section .blog-grid .blog-info h5 a {
  color: #3a3973;
}
.section .blog-grid .blog-info p {
  margin: 0;
}
.section .blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}
.section .blog-grid .blog-info .btn-bar .px-btn-arrow {
  padding: 0 50px 0 0;
  line-height: 20px;
  position: relative;
  display: inline-block;
  color: #fe4f6c;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.section .blog-grid .blog-info .btn-bar .px-btn-arrow .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
  -moz-transition: ease right 0.3s;
  -o-transition: ease right 0.3s;
  -webkit-transition: ease right 0.3s;
  transition: ease right 0.3s;
}
.section .blog-grid .blog-info .btn-bar .px-btn-arrow .arrow .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

form {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 5%;
  left: 25%;
}
form .form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
  background-color: #f8deb7;
  color: #000000;
}
form .form-group label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
form .form-group input, form .form-group button, form .form-group select, form .form-group textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
form .form-group .form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #000000;
  background-image: linear-gradient(to bottom, #f8deb7, #f5b657);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
form .form-group .input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  background-image: linear-gradient(to bottom, #F5EBDC, #facb85);
}
form .form-group .submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.5058823529);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
form .form-group .send:hover {
  background-image: linear-gradient(to top, #f8deb7, #ff9800);
  color: white;
}

.bg-img-1 {
  background-image: url(../img/catplay.jpg);
}

.bg-img-2 {
  background-image: url(../img/catsleeping.jpg);
}

.bg-img-3 {
  background-image: url(../img/catseating.png);
}

.bg-img-4 {
  background-image: url(../img/sleepingkittens.jpg);
}

.bg-img-5 {
  background-image: url(../img/catsplayfigt.jpg);
}

.carousel-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  position: sticky;
  background-color: #B15C36;
  z-index: 100;
  width: 100%;
  max-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer footer p {
  font-weight: bold;
  margin-top: 15px;
}
footer .logo2 {
  height: 55px;
}
footer .socialmediaul {
  list-style: none;
  text-decoration: none;
  display: flex;
  float: right;
  position: relative;
  gap: 5px;
}
footer .socialmediaul .socialimg {
  height: 40px;
  margin-top: 15px;
}

a:link {
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #702d14;
}

.notfound {
  background: radial-gradient(circle at 24.1% 68.8%, #323232 0%, #000000 99.4%);
  margin-top: 10dvh;
}
.notfound h1 {
  color: #f3eadb;
  font-size: 10vh;
}
.notfound h2 {
  color: #f3eadb;
  font-size: 5vh;
}
.notfound p {
  color: #f3eadb;
  font-size: 2vh;
}
.notfound a {
  color: #f3eadb;
}
.notfound img {
  width: 50dvw;
  height: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f8deb7;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #f5b657;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f8deb7;
}

@media screen and (max-width: 992px) {
  header {
    min-height: 75px;
  }
  header .title {
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 25px;
    left: 45px;
  }
  header .logo1 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1;
    display: block;
    margin: auto;
    height: 45px;
  }
  header .navbar-collapse {
    position: absolute;
    margin-left: -110px;
    top: 95%;
  }
  col {
    margin-top: 5%;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .embed-responsive-item {
    width: 405px;
    height: 225px;
  }
  form {
    padding: 2.5rem;
  }
  footer {
    min-height: 55px;
  }
  footer footer p {
    margin-top: 15px;
  }
  footer .logo2 {
    height: 50px;
  }
  footer .socialimg {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
