html {
    min-height: 100%;
    .notfound {
        background: radial-gradient(circle at 24.1% 68.8%, #323232 0%, #000000 99.4%);
        margin-top: 10dvh;
        height: 100%;
            h1 {
                color: $site-white;
                font-size: 10vh;
            }
            h2 {
                color: $site-white;
                font-size: 5vh;
            }
            p {
                color: $site-white;
                font-size: 2vh;
            }
            a {
                color: $site-white;
            }
            img {
                width: 50dvw;
                height: auto;
            }
        }
    
}
