.notfound {
        background-color: black;
        margin-top: 25dvh;
        h1 {
            color: white;
            font-size: 10vh;
        }
        h2 {
            color: white;
            font-size: 5vh;
        }
        p {
            color: white;
            font-size: 2vh;
        }
        img {
            width: 75dvw;
            height: auto;
        }
    }

