.bg-img-1 {
    background-image: url(../img/catplay.jpg);
}
.bg-img-2 {
    background-image: url(../img/catsleeping.jpg);
}
.bg-img-3 {
    background-image: url(../img/catseating.png);
}
.bg-img-4 {
    background-image: url(../img/sleepingkittens.jpg);
}
.bg-img-5 {
    background-image: url(../img/catsplayfigt.jpg);
}
.carousel-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}