main {
    position: relative;
    .coltex {
        margin-top: 10%;
        font-family: "Open Sans", sans-serif;
        width: 100%;
        h2 {
            text-align: center;
            @include font-size(2.5rem);
        }
        h3 {
            text-align: center;
            @include font-size(1.75rem);
        }
        p {
            @include font-size(1rem);
            text-align: justify;
        }
        .ul1 {
            list-style: decimal;
            li {
                font-weight: 600;
                font-style: oblique;
            }
        }
        .ul2 {
            list-style: circle;
        }
    }
    .colimg {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        .imgserv {
            width: 560px;
            height: 325px;
        }
    }
    .colimg2 {
        img {
            margin-top: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 383px;
            height: 305px;
        }
    }
    .colemb {
        .embed-responsive-item {
            margin-top: 25%;
            width: 560px;
            height: 315px;
        }
    }
}