main {
    position: relative;
    .col {
        font-size: 23px;
        margin-top: 10%;
        font-family: "Open Sans", sans-serif;
        h2 {
            text-align: center;
        }
    }
    .embed-responsive-item {
        width: 560px;
        height: 315px;
    }
}