@media screen and (max-width:992px) {
    header {
        min-height: 75px;
        .title {
            font-size: 35px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            position: relative;
            top: 25px;
            left: 45px;
        }
        .logo1 {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 1;
            display: block;
            margin: auto;
            height: 45px;
        }
        .navbar-collapse {
            position: absolute;
            margin-left: -110px;
            top: 95%;
        }
    }
    main {
        .coltex {
            margin-top: 5%;
            position: relative;
        }
        .colemb {
            .embed-responsive-item {
                margin-top: 12.5%;
                width: 421px;
                height: 237px;
            }
        }

    }
    form {
        padding: 2.5rem;
        }
    footer {
        min-height: 55px;
        footer p {
            margin-top: 15px;
        }
        .logo2 {
            height: 50px;
        }
        .socialimg {
            margin-top: 15px;
        }
    }
} 

@media screen and (max-width:430px) {
    main {
        .coltex {
            margin-top: 5%;
            margin-right: 2.5%;
            margin-left: 2.5%;
        }
        .colimg {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5%;
            .imgserv {
                width: 280px;
                height: 162px;
            }
        }
        .colemb {
            display: flex;
            align-items: center;
            justify-content: center;
            .embed-responsive-item {
                margin-top: 25%;
                width: 280px;
                height: 157px;
            }
        }
        .section {
            margin-top: -20%;
        }
        form {
            width: 75%;
            left: 15%;
        }
    }
    footer {
        .logo2 {
            height: 45px;
        }
        .socialmediaul {
            .socialimg {
                height: 35px;
            }
        }
    }
} 
