*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom, #F5EBDC,#facb85)
}

@import "header";
@import "main";
@import "form";
@import "carousel";
@import "footer";
@import "a";
@import "mediaquery";
